<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<script type="application/ld+json">
		{
		  "@context": "https://schema.org",
		  "@type": "WebSite",
		  "name": "{{ .Site.Title }}",
		  "url": "{{ .Site.BaseURL }}",
		  "description": "{{ .Site.Params.description }}",
		  "author": {
		    "@type": "Person",
		    "name": "{{ .Site.Params.author }}"
		  }
		}
		</script>
		<div class="content">
			{{ partial "head.html" . }}
			
			<main class="list">
				<div class="site-description">
					{{- if .Content -}}
					<div class="home-content">
						{{ .Content }}
					</div>
					{{- else if isset .Site.Params "subtitle" -}}
					<p>{{ .Site.Params.Subtitle | .Page.RenderString }}</p>
					{{- end -}}
				</div>
				
				<!-- Spotify Now Playing Widget -->
				<div id="spotify-widget" class="spotify-widget">
					<div class="spotify-widget__header">
						<div id="status-text" class="spotify-widget__status">Listening to Spotify</div>
						<a id="spotify-logo" href="#" target="_blank" class="spotify-widget__logo" style="display: none;">
							<i class="si si-spotify"></i>
						</a>
					</div>
					<div id="spotify-content" class="spotify-widget__content">Loading Spotify track...</div>
				</div>
				{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
				{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
				{{ range $paginator.Pages }}
				<section class="list-item">
					<h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
					<time>{{ dateFormat ":date_medium" .Date }} • {{ .ReadingTime }} min read{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
					<br>{{ template "partials/pagedescription.html" . }}
					<a class="readmore" href="{{ .RelPermalink }}">Read more ⟶</a>
				</section>
				{{ end }}
				{{ template "partials/paginator.html" . }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
